.stats{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:100px;
}
.stats h2,.statpara{
    text-align:center;
}
.statpara{
    width:80%;
    max-width:400px;
    font-size:0.9rem;
    margin-top:20px;
}
.Cards{
    background:linear-gradient(90deg,var(--Cyan),var(--Cyan));
    background-size:10px 90%;
    background-position: center center;
    background-repeat:no-repeat;
}

@media only screen and (min-width:600px){
    .stats h2{
        font-size:2rem;
    }
}
@media only screen and (min-width:800px){
    .Cards{
        width:100%;
        display:flex;
        justify-content: space-between;
        background-size:90% 10px;
    }
    .card-2{
        margin-top:150px;
    }
    .card-3{
        margin-top:180px;
    }
}